.products-container
{
    max-width: 650px;
    justify-content: space-around;
    /*Center of the page */
    margin: 0 auto;
    margin-top: 50px;
}

.product-header
{
    width:100%;
    max-width: 650px;
    display:flex;
    justify-content: flex-start;
    border-bottom: 4px solid #f2285a;
    margin: 0 auto
}